@charset "UTF-8";
/*페이지 전체*/
:root {
  font-family: "Pretendard-Regular";
}

a {
  text-decoration: none;
  color: inherit;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/*상단*/
header {
  position: fixed;
  width: 100%;
  z-index: 10;
  transition: all 0.3s ease-in-out;
}
header .top_layout {
  font-size: 18px;
  color: #fff;
  padding: 0 100px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .top_layout li {
  display: inline-block;
}
header .top_layout #gnb li {
  margin-right: 50px;
}
header .top_layout #gnb li:last-child {
  margin-right: 0;
}
header .top_layout .hamburger li:first-child {
  font-size: 30px;
  margin-right: 12px;
}
header .top_layout .hamburger li:last-child {
  font-size: 32px;
}
header.scrolled {
  background: #fff;
}
header.scrolled .logo {
  color: #000;
}
header.scrolled li {
  color: #000;
}

/*메인*/
#main_view {
  overflow: hidden;
}
#main_view .view {
  width: 100%;
  height: 100vh;
}
#main_view .view::before {
  content: "";
  position: absolute;
  opacity: 0.4;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
}
#main_view .text {
  position: absolute;
  top: 35%;
  left: 8%;
  color: #fff;
  font-size: 50px;
  font-weight: 900;
  line-height: 1.3;
}
#main_view .text a {
  font-family: "KCCMurukmuruk";
  font-weight: normal;
  color: #bbd663;
  font-size: 55px;
}
#main_view .search {
  position: absolute;
  top: 52%;
  left: 8%;
}
#main_view .search input {
  width: 400px;
  height: 60px;
  padding-left: 20px;
  font-size: 1vw;
  color: #fff;
  outline: none;
  box-sizing: border-box;
  background: none;
  position: relative;
  border: 2px solid #fff;
  border-radius: 40px;
}
#main_view .search input::-moz-placeholder {
  font-size: 20px;
  font-family: "Pretendard-Regular";
}
#main_view .search input::placeholder {
  font-size: 20px;
  font-family: "Pretendard-Regular";
}
#main_view .search p {
  color: #fff;
  font-size: 25px;
  position: absolute;
  top: 25%;
  right: 6%;
}
#main_view .quick_menu {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 45vw;
  height: 5.2vw;
  overflow: hidden;
}
#main_view .quick_menu ul {
  display: flex;
  justify-content: center;
}
#main_view .quick_menu li {
  width: 45vw;
  height: 5.2vw;
  text-align: center;
  color: #fff;
  padding-top: 5%;
  font-size: 22px;
  font-weight: bold;
}
#main_view .quick_menu li:first-child {
  background: rgba(172, 244, 33, 0.5);
}
#main_view .quick_menu li:nth-child(2) {
  background: rgba(108, 191, 0, 0.5);
}
#main_view .quick_menu li:last-child {
  background: rgba(77, 112, 0, 0.5);
  border-radius: 0 50px 0 0;
}

#notice {
  position: relative;
}
#notice .inner {
  padding: 100px 100px 0;
}
#notice .news_title {
  float: left;
}
#notice .news_title h2 {
  font-size: 50px;
  color: #b6ce60;
  font-weight: 900;
  margin-bottom: 15px;
}
#notice .news_title p {
  font-size: 18px;
}
#notice .news_slide {
  overflow: hidden;
  float: right;
  width: 58.5vw;
}
#notice .news_slide .prev {
  position: absolute;
  top: 95px;
  right: 150px;
  cursor: pointer;
}
#notice .news_slide .next {
  position: absolute;
  top: 95px;
  right: 110px;
  cursor: pointer;
}
#notice .news_slide .swiper {
  width: 100%;
}
#notice .news_slide ul {
  display: flex;
}
#notice .news_slide h3 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}
#notice .news_slide li {
  height: 205px;
  background: #f7f7f5;
  border: 1px solid #d2d3ce;
  border-radius: 0 20px 0 20px;
  position: relative;
  box-sizing: border-box;
}
#notice .news_slide li pre {
  padding: 27px 33px 0 33px;
}
#notice .news_slide li pre .first {
  color: #617617;
}
#notice .news_slide li pre span {
  color: #a08500;
  font-weight: bold;
  font-size: 17px;
}
#notice .news_slide li pre strong {
  margin-top: 45px;
  font-size: 17px;
  line-height: 1.4;
  font-weight: 600;
}
#notice .news_slide li pre em {
  font-size: 16px;
  color: #757575;
  font-weight: normal;
}
#notice .news_slide li::before {
  content: "";
  width: 58px;
  height: 52px;
  background: #fed926;
  display: block;
  position: absolute;
  right: -1px;
  border-radius: 0 20px 0 20px;
}
#notice .news_slide li.green::before {
  background: #b6cd61;
}
#notice .news_slide li.green::after {
  content: "";
  display: block;
  background: url("../img/notice_1.png") no-repeat;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 12px;
  cursor: pointer;
}
#notice .news_slide li::after {
  content: "";
  display: block;
  background: url("../img/notice_2.png") no-repeat;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 12px;
  cursor: pointer;
}
#notice .uni_san {
  width: 606px;
  height: 642px;
  background: url("../img/uni_mountain.png");
  position: absolute;
  top: 250px;
  left: 0;
  z-index: -1;
}
#notice .pop_up {
  padding: 0 100px 60px 0;
  display: flex;
  justify-content: flex-end;
}
#notice .pop_up .pop_title {
  margin-top: 55px;
}
#notice .pop_up .pop_title h3 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}
#notice .pop_up .swiper ul {
  display: flex;
}
#notice .pop_up .swiper ul li {
  box-sizing: border-box;
}
#notice .pop_up .swiper_inner {
  width: 41vw;
  overflow: hidden;
}
#notice .pop_up .banner {
  margin-right: 50px;
}
#notice .pop_up .banner li img {
  border-radius: 20px;
}
#notice .pop_up .employ {
  width: 17.3vw;
  background: #f7f7f5;
  border: 1px solid #d2d3ce;
  border-radius: 0 20px 0 20px;
}
#notice .pop_up .employ li {
  height: 64.5px;
  padding-left: 35px;
  font-size: 18px;
  font-weight: bold;
}
#notice .pop_up .employ li p.btn1 {
  position: absolute;
  bottom: 204px;
  right: 130px;
}
#notice .pop_up .employ li p.btn2 {
  position: absolute;
  bottom: 95px;
  right: 130px;
}
#notice .pop_up .employ li:nth-child(1) {
  margin-top: 46px;
  border-bottom: 1px solid #e2e3de;
  color: #2e360d;
}
#notice .pop_up .employ li:nth-child(2) {
  margin-top: 46px;
  color: #272100;
}

#business {
  position: relative;
}
#business .inner {
  padding: 330px 100px 0 0;
}
#business .b_inner {
  display: flex;
  justify-content: space-between;
}
#business .busi_title {
  padding-left: 100px;
}
#business .busi_title h2 {
  font-size: 50px;
  color: #b6ce60;
  font-weight: 900;
  margin-bottom: 20px;
}
#business .busi_title p {
  font-size: 18px;
  line-height: 1.4;
  padding-bottom: 130px;
}
#business .busi_bg {
  position: absolute;
  bottom: 140px;
  background: url("../img/seed.jpg") no-repeat;
  background-size: cover;
  background-position: 50%;
  width: 37.5vw;
  height: 32.5vw;
  border-radius: 0 500px 500px 0;
  box-shadow: 5px 10px 10px rgba(7, 46, 7, 0.3);
}
#business .busi_list {
  width: 39vw;
  height: 52.5vw;
}
#business .busi_list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#business .busi_list li {
  width: 336px;
  height: 449px;
  background: #f7f7f5;
  border-radius: 20px;
  margin-bottom: 35px;
  position: relative;
  transition: all 0.4s;
  box-shadow: 0 3px 5px rgba(7, 46, 7, 0.1);
}
#business .busi_list strong {
  font-size: 25px;
  font-weight: bold;
  margin-right: 15px;
}
#business .busi_list em {
  letter-spacing: 2px;
  color: #454545;
  font-size: 15px;
}
#business .busi_list pre {
  margin-left: 40px;
  margin-top: 140px;
  line-height: 1.6;
  font-size: 17px;
}
#business .busi_list p {
  margin: 140px 0 0 40px;
  color: #919191;
  transition: all 0.4s;
}
#business .busi_list p.drone::before {
  content: "";
  display: block;
  background: url("../img/icon_1.png") no-repeat;
  width: 70px;
  height: 44px;
  position: absolute;
  top: 55px;
  left: 14px;
}
#business .busi_list p.smart::before {
  content: "";
  display: block;
  background: url("../img/icon_3.png") no-repeat;
  width: 37px;
  height: 58px;
  position: absolute;
  top: 45px;
  left: 32px;
}
#business .busi_list p.seed::before {
  content: "";
  display: block;
  background: url("../img/icon_2.png") no-repeat;
  width: 70px;
  height: 44px;
  position: absolute;
  top: 55px;
  left: 14px;
}
#business .busi_list p.venture::before {
  content: "";
  display: block;
  background: url("../img/icon_4.png") no-repeat;
  width: 50px;
  height: 46px;
  position: absolute;
  top: 53px;
  left: 25px;
}
#business .busi_list p.drone::after {
  content: "";
  display: block;
  background: url("../img/icon_hover1.png") no-repeat;
  width: 174px;
  height: 150px;
  position: absolute;
  bottom: 30px;
  right: 20px;
}
#business .busi_list p.smart::after {
  content: "";
  display: block;
  background: url("../img/icon_hover3.png") no-repeat;
  width: 174px;
  height: 167px;
  position: absolute;
  bottom: 30px;
  right: 0;
}
#business .busi_list p.seed::after {
  content: "";
  display: block;
  background: url("../img/icon_hover2.png") no-repeat;
  width: 174px;
  height: 170px;
  position: absolute;
  bottom: 30px;
  right: 20px;
}
#business .busi_list p.venture::after {
  content: "";
  display: block;
  background: url("../img/icon_hover4.png") no-repeat;
  width: 174px;
  height: 167px;
  position: absolute;
  bottom: 30px;
  right: 10px;
}
#business .busi_list li.one {
  margin-top: 60px;
}
#business .busi_list li.four {
  margin-top: -60px;
}
#business .busi_list li::before {
  content: "";
  width: 100px;
  height: 70px;
  background: #b6ce60;
  display: block;
  position: absolute;
  top: 40px;
  border-radius: 0 20px 20px 0;
}
#business .busi_list li::after {
  content: "";
  display: block;
  width: 40px;
  height: 44px;
  position: absolute;
  top: 0;
  right: 0px;
  z-index: 5;
  background: url("../img/memo.png") no-repeat center 50%;
  opacity: 0;
}
#business .busi_list li:hover::after {
  opacity: 1;
}
#business .busi_list li:hover {
  background: #47511d;
  border-radius: 20px 50px 20px 20px;
}
#business .busi_list li:hover pre {
  color: #fff;
  margin-top: 60px;
}
#business .busi_list li:hover p {
  color: #fff;
  margin-top: 220px;
}
#business .busi_list li:hover em {
  color: #b7baa9;
}
#business .busi_list li:hover::before {
  display: none;
}
#business .busi_list li:hover p::before {
  display: none;
}
#business .uni_uni {
  background: url("../img/uni_love.png") no-repeat;
  width: 287px;
  height: 395px;
  position: absolute;
  bottom: 50px;
  left: 30%;
}

#sns h2 {
  font-size: 50px;
  color: #b6ce60;
  font-weight: 900;
  padding: 200px 0 0 100px;
}
#sns .inner {
  padding: 100px;
  display: flex;
  justify-content: space-between;
}
#sns .blog {
  width: 700px;
  height: 488px;
  background: #f7f7f5;
  border-radius: 20px;
  display: flex;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
}
#sns .blog_banner {
  width: 490px;
  height: 100%;
  border-radius: 20px 0 0 20px;
}
#sns .blog_banner img {
  border-radius: 20px 0 0 20px;
}
#sns .blog_banner .prev {
  position: absolute;
  top: 50px;
  right: 150px;
  cursor: pointer;
}
#sns .blog_banner .next {
  position: absolute;
  top: 0px;
  right: 110px;
  cursor: pointer;
}
#sns .blog_ment {
  margin: 0 0 44px 37px;
  line-height: 1.4;
  font-size: 18px;
}
#sns .blog_ment span {
  margin: 20px 0 0 95px;
  font-size: 25px;
}
#sns .blog_ment::before {
  content: "";
  display: block;
  width: 74px;
  height: 63px;
  background: url("../img/blog_icon1.png") no-repeat;
  position: absolute;
  top: 10px;
  right: 8px;
  z-index: 5;
  cursor: pointer;
}
#sns .blog_ment::after {
  content: "";
  display: block;
  width: 104px;
  height: 97px;
  background: #b6cd61;
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 0 20px 0 20px;
}
#sns .youtube {
  width: 888px;
  height: 488px;
  position: relative;
}
#sns .youtube iframe {
  border-radius: 20px;
}
#sns .youtube::before {
  content: "";
  display: block;
  width: 60px;
  height: 52px;
  background: url("../img/youtube_icon1.png") no-repeat;
  position: absolute;
  top: 9px;
  right: 8px;
  z-index: 5;
  cursor: pointer;
}
#sns .youtube::after {
  content: "";
  display: block;
  width: 104px;
  height: 97px;
  background: #b6cd61;
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 0 20px 0 20px;
}

#koat {
  height: 1082px;
  margin-top: 50px;
  background: url("../img/koat_bg.png") no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
#koat .quick_gnb {
  width: 90%;
  height: 264px;
  padding-left: 100px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 0 20px 20px 0;
}
#koat .quick_gnb ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
#koat .quick_gnb li {
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}
#koat .quick_gnb li:first-child {
  font-size: 23px;
  font-weight: bold;
  color: #fff;
  line-height: 1.5;
  text-align: left;
}
#koat .quick_gnb span {
  width: 95px;
  height: 95px;
  display: block;
  background: #fff;
  border-radius: 50px;
  margin-bottom: 20px;
}
#koat .koat_ment {
  height: 250px;
  padding: 0 100px;
  color: #fff;
}
#koat .koat_ment ul {
  display: flex;
  justify-content: space-between;
}
#koat .koat_ment p {
  padding-bottom: 43px;
  font-size: 18px;
}
#koat .koat_ment h3 {
  font-size: 35px;
  font-weight: bold;
  line-height: 1.4;
}

/*하단*/
footer {
  height: 350px;
  background: #212121;
}
footer .inner {
  padding: 0 100px;
  color: #bbbbbb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 275px;
}
footer .footer_gnb {
  outline: 1px solid #fff;
  color: #7e7e7e;
  font-size: 20px;
  font-weight: bold;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
}
footer #gnb1 {
  width: 1230px;
  border-right: 1px solid #fff;
}
footer #gnb1 li {
  display: inline-block;
  line-height: 75px;
  margin-right: 50px;
}
footer #gnb1 li:first-child {
  color: #e9af10;
}
footer #gnb2 {
  width: 689px;
}
footer #gnb2 li {
  display: inline-block;
  line-height: 75px;
  margin-left: 37px;
}
footer #gnb2 li:first-child {
  width: 350px;
  border-right: 1px solid #fff;
}
footer #gnb2 li:first-child span {
  margin-right: 200px;
}
footer #gnb2 li:nth-child(2) span {
  margin-right: 90px;
}
footer .footer_info li {
  float: left;
  margin-right: 37px;
  line-height: 1.7;
}