@charset "utf-8";

/*페이지 전체*/
:root{
    font-family: 'Pretendard-Regular';
}
a{text-decoration:none; color:inherit;}
.clearfix::after{content:''; display:block; clear:both;}


/*상단*/
header{
    position:fixed; width:100%; z-index:10;
    transition:all .3s ease-in-out;
    .top_layout{
    font-size:18px; color:#fff;
    padding:0 100px; height:100px;
    display:flex; justify-content:space-between;
    align-items:center;
    li{display:inline-block;}

    #gnb{
    li{margin-right:50px;}
    li:last-child{margin-right:0;}
    }//end:#gnb

    .hamburger{
    li:first-child{font-size:30px; margin-right:12px;}
    li:last-child{font-size:32px;}
    }//end:
    }//end:.top_layout
    &.scrolled{
    background:#fff;
    .logo{color:#000;}
    li{color:#000;}
    }//end:.scrolled
}//end:header


/*메인*/
#main_view{
    overflow:hidden;
    .view{width:100%; height:100vh;}
    .view::before{content:''; position:absolute; opacity:0.4;
        top:0; left:0; right:0; bottom:0; background:#000;}
    .text{position:absolute; top:35%; left:8%;
        color:#fff; font-size:50px; font-weight:900;
        line-height:1.3;
        a{font-family:'KCCMurukmuruk'; font-weight:normal;
        color:#bbd663; font-size:55px;}
    }//end:.text
    .search{position:absolute; top:52%; left:8%;
    input{width:400px; height:60px; padding-left:20px; font-size:1vw;
    color:#fff; outline:none;
    box-sizing:border-box; background:none; position:relative;
    border:2px solid #fff; border-radius:40px;}
    input::placeholder{font-size:20px; font-family: 'Pretendard-Regular'}
    p{color:#fff; font-size:25px;
    position:absolute; top:25%; right:6%;}
    }//end:.search
    .quick_menu{
        position:absolute; bottom:0; left:0;
        width:45vw; height:5.2vw; overflow:hidden;
        ul{display:flex; justify-content:center;}
        li{width:45vw; height:5.2vw; text-align:center;
        color:#fff; padding-top:5%; font-size:22px; font-weight:bold;}
        li:first-child{background:rgba(172,244,33,.5);}
        li:nth-child(2){background:rgba(108,191,0,.5);}
        li:last-child{background:rgba(77,112,0,.5); border-radius:0 50px 0 0;}
    }//end:.quick_menu
}//end:#main_view


#notice{
  position:relative;
  .inner{padding:100px 100px 0;}
  .news_title{
    float:left;
    h2{font-size:50px; color:#b6ce60; font-weight:900;
    margin-bottom:15px;}
    p{font-size:18px;}
  }
  .news_slide{
    overflow:hidden;
    float:right; width:58.5vw;
    .prev{position:absolute; top:95px; right:150px; cursor:pointer;}
    .next{position:absolute; top:95px; right:110px; cursor:pointer;}
    .swiper{width:100%;}
    ul{display:flex;}
    h3{font-size:25px; font-weight:bold; margin-bottom:20px;}
    li{
      height:205px; background:#f7f7f5;
      border:1px solid #d2d3ce; border-radius:0 20px 0 20px;
      position:relative; box-sizing:border-box;
      pre{padding:27px 33px 0 33px;
        .first{color:#617617;}
        span{color:#a08500; font-weight:bold; font-size:17px;}
        strong{margin-top:45px; font-size:17px; line-height:1.4;
        font-weight:600;}
        em{font-size:16px; color:#757575; font-weight:normal;}
        }
    }
    li::before{content:''; width:58px; height:52px; background:#fed926;
        display:block; position:absolute; right:-1px; border-radius:0 20px 0 20px;}
    li.green::before{background:#b6cd61;}
    li.green::after{content:''; display:block; background:url('../img/notice_1.png') no-repeat;
        width:30px; height:30px; position:absolute; top:10px; right:12px;
        cursor:pointer;}
    li::after{content:''; display:block; background:url('../img/notice_2.png') no-repeat;
        width:30px; height:30px; position:absolute; top:10px; right:12px;
        cursor:pointer;}
    }//end:#news_slide
    .uni_san{
        width:606px; height:642px;
        background:url('../img/uni_mountain.png');
        position:absolute; top:250px; left:0; z-index:-1;}
    .pop_up{
        padding:0 100px 60px 0;
        display:flex; justify-content:flex-end;
        .pop_title{margin-top:55px;
         h3{font-size:25px; font-weight:bold; margin-bottom:20px;}
        }
        .swiper ul{display:flex;
         li{box-sizing:border-box;} 
        }
        .swiper_inner{width:41vw; overflow:hidden;}
        .banner{margin-right:50px;
         li img{border-radius:20px;}
        }//e:.banner
        .employ{width:17.3vw; background:#f7f7f5;
            border:1px solid #d2d3ce; border-radius:0 20px 0 20px;
         li{height:64.5px; padding-left:35px; font-size:18px; font-weight:bold;
          p.btn1{position:absolute; bottom:204px; right:130px;}
          p.btn2{position:absolute; bottom:95px; right:130px;}  
         }
         li:nth-child(1){margin-top:46px; border-bottom:1px solid #e2e3de;
         color:#2e360d;}
         li:nth-child(2){margin-top:46px; color:#272100;}
        }
    }//e:.pop_up
}//end:#notice


#business{
    position:relative;
    .inner{padding:330px 100px 0 0;}
    .b_inner{display:flex; justify-content:space-between;}
    .busi_title{padding-left:100px;
    h2{font-size:50px; color:#b6ce60; font-weight:900;
     margin-bottom:20px;}
    p{font-size:18px; line-height:1.4; padding-bottom:130px;}
    }//end:.bsn_title
    .busi_bg{
     position:absolute; bottom:140px;
     background:url('../img/seed.jpg') no-repeat;
     background-size:cover; background-position:50%;
     width:37.5vw; height:32.5vw;
     border-radius:0 500px 500px 0;
     box-shadow:5px 10px 10px rgba(7, 46, 7, .3);
    }//end:.busi_bg
    .busi_list{width:39vw; height:52.5vw;
    ul{display:flex; flex-wrap:wrap; justify-content:space-between;}
    li{width:336px; height:449px; background:#f7f7f5; border-radius:20px;
        margin-bottom:35px; position:relative; transition:all .4s;
        box-shadow:0 3px 5px rgba(7, 46, 7, .1);}
    strong{font-size:25px; font-weight:bold; margin-right:15px;}
    em{letter-spacing:2px; color:#454545; font-size:15px;}
    pre{margin-left:40px; margin-top:140px; line-height:1.6;
        font-size:17px;}
    //주요사업 icon
    p{margin:140px 0 0 40px; color:#919191; transition:all .4s;}
    p.drone::before{content:''; display:block; background:url('../img/icon_1.png') no-repeat;
     width:70px; height:44px; position:absolute; top:55px; left:14px;}
    p.smart::before{content:''; display:block; background:url('../img/icon_3.png') no-repeat;
    width:37px; height:58px; position:absolute; top:45px; left:32px;}
    p.seed::before{content:''; display:block; background:url('../img/icon_2.png') no-repeat;
    width:70px; height:44px; position:absolute; top:55px; left:14px;}
    p.venture::before{content:''; display:block; background:url('../img/icon_4.png') no-repeat;
    width:50px; height:46px; position:absolute; top:53px; left:25px;}
    p.drone::after{content:''; display:block; background:url('../img/icon_hover1.png') no-repeat;
    width:174px; height:150px; position:absolute; bottom:30px; right:20px;}
    p.smart::after{content:''; display:block; background:url('../img/icon_hover3.png') no-repeat;
    width:174px; height:167px; position:absolute; bottom:30px; right:0;}
    p.seed::after{content:''; display:block; background:url('../img/icon_hover2.png') no-repeat;
    width:174px; height:170px; position:absolute; bottom:30px; right:20px;}
    p.venture::after{content:''; display:block; background:url('../img/icon_hover4.png') no-repeat;
    width:174px; height:167px; position:absolute; bottom:30px; right:10px;}
    li.one{margin-top:60px;}
    li.four{margin-top:-60px;}
    li::before{content:''; width:100px; height:70px; background:#b6ce60;
        display:block; position:absolute; top:40px; border-radius:0 20px 20px 0;}
    li::after{content:''; display:block; width:40px; height:44px;
        position:absolute; top:0; right:0px; z-index:5;
        background:url('../img/memo.png') no-repeat center 50%;
        opacity:0;}

    //li hover
    li:hover::after{opacity:1;}
    li:hover{background:#47511d; border-radius:20px 50px 20px 20px;}
    li:hover pre{color:#fff; margin-top:60px;}
    li:hover p{color:#fff; margin-top:220px;}
    li:hover em{color:#b7baa9;}
    li:hover::before{display:none;}
    li:hover p::before{display:none;}
    }//end:.busi_list
    .uni_uni{background:url('../img/uni_love.png') no-repeat;
      width:287px; height:395px; position:absolute; bottom:50px; left:30%;}
}//end:#business


#sns{
   h2{font-size:50px; color:#b6ce60; font-weight:900;
    padding:200px 0 0 100px;}
  .inner{padding:100px; display:flex; justify-content:space-between;}
  .blog{width:700px; height:488px; background:#f7f7f5;
    border-radius:20px; display:flex; align-items:flex-end;
    position:relative; overflow:hidden;}
  .blog_banner{width:490px; height:100%;
    border-radius:20px 0 0 20px;
    img{border-radius:20px 0 0 20px;}
    .prev{position:absolute; top:50px; right:150px; cursor:pointer;}
    .next{position:absolute; top:0px; right:110px; cursor:pointer;}
  }//end:.blog_banner
  .blog_ment{
    margin:0 0 44px 37px; line-height:1.4; font-size:18px;
    span{margin:20px 0 0 95px; font-size:25px;}
  }
  .blog_ment::before{content:''; display:block; width:74px; height:63px;
    background:url('../img/blog_icon1.png') no-repeat;
    position:absolute; top:10px; right:8px; z-index:5; cursor:pointer;
    }
  .blog_ment::after{content:''; display:block; width:104px; height:97px;
    background:#b6cd61; position:absolute; top:-10px; right:-10px;
    border-radius:0 20px 0 20px;}
  .youtube{width:888px; height:488px; position:relative;
    iframe{border-radius:20px;}
  }
  .youtube::before{content:''; display:block; width:60px; height:52px;
    background:url('../img/youtube_icon1.png') no-repeat;
    position:absolute; top:9px; right:8px; z-index:5; cursor:pointer;}
  .youtube::after{content:''; display:block; width:104px; height:97px;
    background:#b6cd61; position:absolute; top:-10px; right:-10px;
    border-radius:0 20px 0 20px;}
}//end:#sns


#koat{
 height:1082px; margin-top:50px; background:url('../img/koat_bg.png') no-repeat;
 background-size:cover;
 display:flex; justify-content:space-around;
 flex-direction:column;
 .quick_gnb{width:90%; height:264px; padding-left:100px;
    background:rgba(0,0,0,.3); border-radius:0 20px 20px 0;
    ul{display:flex; justify-content:space-around;
    align-items:center; height:100%;}
    li{text-align:center; color:#fff; font-size:18px; font-weight:bold;}
    li:first-child{font-size:23px; font-weight:bold; color:#fff;
      line-height:1.5; text-align:left;}
    span{width:95px; height:95px; display:block; background:#fff;
      border-radius:50px; margin-bottom:20px;}
 }//end:.quick_gnb
 .koat_ment{height:250px;
    padding:0 100px; color:#fff;
    ul{display:flex; justify-content:space-between;}
    p{padding-bottom:43px; font-size:18px;}
    h3{font-size:35px; font-weight:bold; line-height:1.4;}
 }
}//end:#koat


/*하단*/
footer{
  height:350px; background:#212121;
  .inner{padding:0 100px; color:#bbbbbb;
  display:flex; justify-content:space-between;
  align-items:center; height:275px;}
  .footer_gnb{outline:1px solid #fff; color:#7e7e7e;
    font-size:20px; font-weight:bold;
    padding:0 100px; display:flex; justify-content:space-between;}
  #gnb1{width:1230px; border-right:1px solid #fff;
    li{display:inline-block; line-height:75px;
    margin-right:50px;}
    li:first-child{color:#e9af10;}
 }//end:#gnb1
  #gnb2{
    width:689px;
    li{display:inline-block; line-height:75px;
      margin-left:37px;}
    li:first-child{width:350px; border-right:1px solid #fff;}
    li:first-child span{margin-right:200px;}
    li:nth-child(2) span{margin-right:90px;}
  }//end:#gnb2

  .footer_info{
   li{float:left; margin-right:37px;
    line-height:1.7;}
  }//end:.footer_info

}//end:footer